
* {
  box-sizing: border-box;
}
h1{
  color: hsl(212, 21%, 14%);
}
p {
  color: hsl(228, 12%, 48%);
}
.main-container {

  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 550px;
  margin: 100px auto;
  border-radius: 10px;
  background-color: hsl(30, 38%, 92%);
}

@media screen and (max-width: 375px){
  .main-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5px;
  width: 285px;
  border-radius: 20px;
  }
  .image-box {
    width: fit-content;
    max-width: 285px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    
  }
  .image-box > img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.text-box {
  margin: auto 20px;
}
button {
  margin-bottom: 20px ;
}
}


.image-box {
  width: 1100px;
  height: 450px;
}

.image-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  margin-right: 25px;
}

.text-box > p:first-of-type {
  letter-spacing: 4px;
}

.price-box {
  display: flex;
}

.price-box > h1 {
  color: hsl(158, 36%, 37%);
}

.price-box > p {
  position: relative;
  bottom: -12px;
  padding-left: 20px;
  text-decoration: line-through;
}

.btn-box {
  text-align: center;
}

button {
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  background-color: hsl(158, 42%, 18%);
  color: hsl(0, 0%, 100%);
}

button > img {
  padding-right: 5px;
}
